
@{
    ViewBag.Title = "AdministracionCliente";
}

<head>
    <title>Administracion de clientes </title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/Home/Index" class="navbar-brand">Yuyitos Web</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Proveedor/ListarProveedor/">Proveedores</a></li>
                <li><a href="/Cliente/AdministracionCliente">Clientes</a></li>
                <li><a href="/Producto/ListarProductos">Productos</a></li>
                <li><a href="/Fiado/PagoFiado">Fiado</a></li>
                <li><a href="/Venta/ListarVenta">Ventas</a></li>
                <li><a href="#">Orden de Pedidos</a></li>
                <li><a href="#">Recepcion de Pedidos</a></li>
                <li><a href="#">Administración de boletas</a></li>
                <li><a href="/Usuario/RegistrarUsuario">Registro de usuarios</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h3>Clientes </h3>
        <form action="/" method="post">
            <label>Rut: <input type="text" name="rut" value=" " /></label><br />
            <label>Nombre: <input type="text" name="nombre" value=" " /></label><br />
            <label>Apellido: <input type="text" name="apellido" value=" " /></label><br />
            <label>Email: <input type="text" name="email" value=" " /></label><br />
            <label>Telefono: <input type="text" name="telefono" value=" " /></label><br />
            <label>Fiado: <input type="text" name="fiado" value=" " /></label><br />
            <label>Comuna: <input type="text" name="comuna" value=" " /></label><br />
            <label>Region: <input type="text" name="region" value=" " /></label><br />
            <label>Direccion: <input type="text" name="direccion" value=" " /></label><br />
            <label>Id Venta: <input type="text" name="Idventa" value=" " /></label><br />
            <input type="submit" name="enviar" value="Enviar" /> <input type="button" name="modificar" value="Modificar" /> <input type="button" name="Listar" value="Listar Clientes" />
        </form>
    </div>
</body>

