
@{
    ViewBag.Title = "AdministracionBoleta";
}


<head>
    <title>Administracion de boleta </title>
</head>

<body>
    <div>
        <h3>Boleta </h3>
        <form action="/" method="post">
            <label>N° boleta: <input type="text" name="numero" value=" " /></label><br />
            <label>Nombre producto: <input type="text" name="nombreP" value=" " /></label><br />
            <label>Valor Producto: <input type="text" name="valorP" value=" " /></label><br />
            <label>Cantidad: <input type="text" name="cantidad" value=" " /></label><br />
            <label>Total: <input type="text" name="total" value=" " /></label><br />
            <label>Fecha venta: <input type="text" name="fecha" value=" " /></label><br />
            <label>Id Venta: <input type="text" name="IdVenta" value=" " /></label><br />
            <input type="submit" name="enviar" value="Enviar" /> <input type="button" name="modificar" value="Modificar" /> <input type="button" name="anular" value="Anular" />
        </form>
    </div>
</body>

